{% extends 'base.html' %}


{% block content %}
    <div class="content-tabs">
        <h3><strong>添加角色页</strong></h3>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins row">
            <div class="ibox-content">
                <form class="form-horizontal" action="" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">角色名</label>
                        <div class=" col-sm-2">
                            <input class="form-control" id="name" placeholder="必填" name="name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="perm">权限</label>
                        <div class="col-sm-4">
                            <select class="form-control left_select" id="perm-0" name="perm-0" multiple="multiple"
                                    style="height: 230px;">
                                {% for item in permissions %}
                                    <option value={{ item.id }}>{{ item.caption }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <div style="margin: 40px 0 0 30px;">
                                <button class="fa fa-angle-right" id="left_mv" type="button"></button>
                            </div>
                            <div style="margin: 40px 0 0 30px;">
                                <button class="fa fa-angle-left" id="right-mv" type="button"></button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control right_select" id="perm" name="perm" multiple="multiple"
                                    style="height: 230px;">
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-6">
                            <button class="btn btn-primary" type="button" id="submit_button">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $.initPage('{{ json_data_list }}');
        });
    </script>
{% endblock %}