<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易建科技运维平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">
    <style>
        .msg-error{color: red;}
    </style>
    {% block css %}
    {% endblock %}
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="/static/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                <span class="block m-t-xs"><strong class="font-bold">{{ request.user.name }}</strong></span>
                                {%  if request.user.is_admin %}
                                    <span class="text-muted text-xs block">管理员</span>
                                {% else %}
                    iframe_host_list.html                <span class="text-muted text-xs block">{{ request.user.department }}</span>
                                 {% endif %}
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">YJ
                        </div>
                    </li>
                    {% include 'nav_left.html' %}
                    <li style="height: 20px;">
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧上面部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            {% include 'nav_right.html' %}
            {% block content %}
            {% endblock %}
{#            <div style="height: 400px;" >#}
{#            </div>#}
{#            <div class="footer">#}
{#                <div class="pull-right">© 2016-2017 <a href="http://china.makepolo.com/" target="_blank">china.makepolo.com</a>#}
{#                </div>#}
{#            </div>#}
        </div>
        <!--右侧边栏开始-->
        <!--右侧导航栏部分结束-->
        <div id="right-sidebar">
            <div class="sidebar-container">
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/js/plugins/layer/layer.min.js"></script>
    <script src="/static/js/hplus.min.js"></script>
{#    <script src="/static/js/contabs.min.js"></script>#}
    <script src="/static/js/plugins/pace/pace.min.js"></script>
    <script>
        $(document).ready(function () {
            var current_menu  = $("#side-menu a[href='{{ request.path }}']");
            current_menu.parent().addClass("active");
            current_menu.parent().parent().addClass("in");
            current_menu.parent().parent().parent().addClass("active");
            if(current_menu.parent().parent().hasClass('nav-third-level')){
                current_menu.parent().parent().parent().parent().addClass("in");
                current_menu.parent().parent().parent().parent().parent().addClass("active");
            }
        });//end doc ready
        function GetCsrfToken(){
            return $("input[name='csrfmiddlewaretoken']").val();
        }
    </script>
    {% block js %}
    {% endblock %}
    <script>
        $(function() {
            $(document).on("click", ".navbar-minimalize", function (e) {
                e.preventDefault();
                return false;
            });
        });
    </script>
</body>
</html>