<li>
    <a href="/assets/dashboard/">
        <i class="fa fa-th-large"></i>
        <span class="nav-label">仪表盘</span>
    </a>
</li>
<li class="userinfo">
    <a href="#">
        <i class="fa fa-rebel"></i>
        <span class="nav-label">用户功能</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li class="host_manage">
            <a href="/accounts/show_message/">show message</a>
        </li>
        <li>
            <a href="/accounts/change_pwd/">修改密码</a>
        </li>
    </ul>
</li>
<li class="assets">
    <a href="#">
        <i class="fa fa-rebel"></i>
        <span class="nav-label">资产管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li class="host_manage">
            <a href="#">服务器管理<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li class="host_list">
                    <a href="/assets/host_list/">资产列表</a>
                </li>
                <li class="host_add">
                    <a href="/assets/host_add/">添加主机</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">网络安全设备<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a href="/assets/network_list/">设备列表</a>
                </li>
                <li><a href="/assets/network_add/">添加设备</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li class="business">
    <a href="#">
        <i class="fa fa-edit"></i>
        <span class="nav-label">项目管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li class="host_manage">
            <a href="/common/business_list/">业务线列表</a>
        </li>
        <li class="host_manage">
            <a href="/common/business_add/">添加业务线</a>
        </li>
        <li>
            <a href="/common/service_list/">服务列表</a>
        </li>
        <li class="host_manage">
            <a href="/common/service_add/">添加服务</a>
        </li>
    </ul>
</li>
<li class="monitor">
    <a href="#">
        <i class="fa fa-rebel"></i>
        <span class="nav-label">监控</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li class="host_manage">
            <a href="/monitor/product-detail/">url监控</a>
        </li>
    </ul>
</li>
<li class="autoops">
    <a href="#">
        <i class="fa fa-rebel"></i>
        <span class="nav-label">自动化运维</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li class="host_manage">
            <a href="/autoops/multi_cmd/">批量命令</a>
        </li>
    </ul>
</li>
<li class="permission">
    <a href="/admin/" target="_blank">
        <i class="fa fa-edit"></i>
        <span class="nav-label">后台管理</span>
    </a>
</li>