<div class="border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">欢迎使用易建科技运维自动化平台</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i> <span class="label label-warning">0</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="/incident/my/" class="pull-left">
                                <i class="fa fa-comments"></i>
                            </a>
                            <div class="media-body">
                                <strong>我的故障</strong> <span class="label label-danger pull-right">0</span> <br>
                                <small class="text-muted">&nbsp;</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="/incident/nodone/" class="pull-left">
                                <i class="fa fa-comments"></i>
                            </a>
                            <div class="media-body ">
                                <strong>待处理故障</strong> <span class="label label-danger pull-right">1</span><br>
                                <small class="text-muted">&nbsp;</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="/message/news/" class="pull-left">
                                <i class="fa fa-comments"></i>
                            </a>
                            <div class="media-body ">
                                <strong>自动化发布</strong>
                                <span class="label label-danger pull-right">0</span>
                                <br>
                                <small class="text-muted">&nbsp;</small>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/accounts/logout/"><i class="fa fa-sign-out"></i> 退出</a>
            </li>
        </ul>
    </nav>
</div>
