{% extends 'base.html' %}

{% block css %}
    <style>
        .datainp {
            width: 200px;
            height: 30px;
            border: 1px #ccc solid;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-tabs">
        <h3><strong>填写主机信息</strong></h3>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins row">
            <div class="ibox-content">
                <form class="form-horizontal" action="" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="sn">SN</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="sn" placeholder="必填" name="sn" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="qs">快速服务代码</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="qs" placeholder="选填" name="qs" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="number">资产编号</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="number" placeholder="选填" name="number" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="hostname">主机名</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="hostname" placeholder="必填" name="hostname" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="management_ip">远程卡IP</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="management_ip" placeholder="选填" name="management_ip"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="asset_name">设备名称</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="asset_name" name="asset_name">
                                {% for item in device_types %}
                                    <option value={{ item.0 }}>{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="manufactory">厂商</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="manufactory" name="manufactory">
                                {% for item in manufactories %}
                                    <option value={{ item.id }}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="is_virtual">主机类型</label>
                        <div class="col-sm-3 col-lg-3">
                            <select class="form-control" id="is_virtual" name="is_virtual">
                                <option value="0">物理机</option>
                                <option value="1">虚拟机</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="idc">IDC</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="idc" name="idc">
                                {% for item in idcs %}
                                    <option value={{ item.id }}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="cabinet">机柜号</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="cabinet" placeholder="选填" name="cabinet" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="host_cabinet_id">机器位置</label>
                        <div class=" col-sm-4">
                            <input class="form-control" id="host_cabinet_id" placeholder="选填" name="host_cabinet_id"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="status">设备状态</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="status" name="status">
                                {% for item in status %}
                                    <option value={{ item.0 }}>{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="buy_date">购买时间</label>
                        <div class="col-sm-6">
                            <input class="datainp" id="buy_date" name="buy_date" type="text" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="memo">备注</label>
                        <div class=" col-sm-8">
                            <textarea class="form-control" id="memo" placeholder="选填" rows=5 name="memo"
                                      type="text"></textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-5">
                            <button class="btn btn-white" type="button" id="reset_host_add"> 重置</button>
                            <button class="btn btn-primary" type="button" id="submit_host_add"> 提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/assets/assets.js"></script>
    <script src="/static/plugins/jedate/jedate.min.js"></script>
    <script>
        //jeDate.skin('gray');
        jeDate({
            dateCell: "#buy_date",//isinitVal:true,
            format: "YYYY-MM-DD",
            isinitVal: true,
            isTime: false, //isClear:false,
            minDate: "2000-01-01 00:00:00",
            maxDate: "2026-01-01 00:00:00"
        })
    </script>
{% endblock %}