{% extends 'base.html' %}

{% block css %}
    <style>
        label { font-weight: 100;}
    </style>
{% endblock %}

{% block content %}
<div class="content-tabs">
    <h3><strong>主机列表</strong></h3>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form id="asset_form">
                    <div class="col-sm-1 test_width" style="padding: 0 5px;">
                        <label>
                            <select name="idc" class="form-control m-b" onchange="change_info(this)">
                                <option value="">机房</option>
                                {% for item in idcs %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
{#                    <div class="col-sm-1 test_width" style="padding: 0 5px;">#}
{#                        <label>#}
{#                            <select name="service_set__businessunit_set__id" class="form-control m-b" onchange="change_info(this)">#}
{#                                <option value="">业务线</option>#}
{#                                {% for item in business_units %}#}
{#                                    <option value="{{ item.id }}">{{ item.name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </label>#}
{#                    </div>#}
                    <div class="col-sm-1 test_width" style="padding: 0 5px;">
                        <label>
                            <select name="service__id" class="form-control m-b" onchange="change_info(this)">
                                <option value="">服务</option>
                                {% for item in services %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="col-sm-1 test_width" style="padding: 0 5px;">
                        <label>
                            <select name="status" class="form-control m-b" onchange="change_info(this)">
                                <option value="">状态</option>
                                {% for item in status %}
                                    <option value={{ item.0 }}> {{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control m-b" id="search_input" name="keyword" placeholder="主机名">
                            <input type="text" style="display: none">
                            <div class="input-group-btn">
                                <button href="/assets/change_info_ajax/?search=true" name="search" class="btn btn-xm btn-primary search_btn" onclick="return false">
                                    搜索
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="download"></div>
                    <iframe class="J_iframe" id="ifrID" name="iframe0" width="100%" src="/assets/iframe_host_list/" frameborder="0" data-id="index_v2.html" seamless></iframe>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="/static/js/assets/assets.js"></script>
    <script>
        function InitIframe() {
            var h=$("body").height()-300;
            $('.J_iframe').height(h);
        }
        InitIframe();
    </script>
{% endblock %}