<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易建科技运维平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">
    <style>
        .msg-error{
            color: red;
        }
    </style>
</head>
<body class="fixed-sidebar full-height-layout" style="overflow:hidden">
    <div class="row">
        <div class="ibox float-e-margins">
            <div id="edit_result">
                <div class="ibox-content">
                    <h6 style="color:red">总共有: {{ hosts_count }},  物理机: {{ hosts_physical }},  虚拟机: {{ hosts_virtual }}</h6>
                    <form id="asset_form">
                        <div id="replace">
                            <table id="host_info" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                        </th>
                                        <th class="text-center"> 主机名 </th>
                                        <th class="text-center"> IP </th>
                                        <th class="text-center"> SN </th>
                                        <th class="text-center"> IDC </th>
                                        <th class="text-center"> 资产编号 </th>
                                        <th class="text-center"> 业务线 </th>
                                        <th class="text-center"> 服务 </th>
                                        <th class="text-center"> 状态 </th>
                                        <th class="text-center"> 厂商 </th>
                                        <th class="text-center"> 操作 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in page_obj %}
                                    <tr class="gradeX">
                                        <td class="text-center">
                                            <input type="checkbox" name="selected" value="{{ item.id }}">
                                        </td>
                                        <td class="text-center"><a href="/assets/host_detail/?id={{ item.id }}" class="select_node">  {{ item.hostname }} </a></td>
                                        <td class="text-center"> {% for i in item.nic.all %} {{ i.ipaddress }} {% endfor %} </td>
                                        <td class="text-center"> {{ item.sn }} </td>
                                        <td class="text-center"> {{ item.idc.name }} </td>
                                        <td class="text-center"> {{ item.number }} </td>
                                        <td class="text-center">
                                            {% for i in item.businessunit.all %}
                                                <span class="btn-xs btn-default">{{ i.name }}</span>
                                            {% endfor %}
                                        </td>
                                        <td class="text-center">
                                            {% for i in item.service.all %}
                                                <span class="btn-xs btn-warning">{{ i.name }}</span>
                                            {% endfor %}
                                        </td>
                                        <td class="text-center">
                                            {% for i in status %}
                                                {% if item.status == i.0 %}
                                                    {% if item.status == 0 %}
                                                        <span>{{ i.1 }}</span>
                                                    {% else %}
                                                        <span class="btn-xs btn-danger">{{ i.1 }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td class="text-center"> {{ item.manufactory.name }} </td>
                                        <td class="text-center">
                                            <a href="/assets/host_detail/?id={{ item.id }}" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="bottom" target="_blank">详情</a>
                                            <a href="/assets/host_edit/?id={{ item.id }}" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="bottom" target="_blank">修改</a>
                                            <button type="button" id="{{ item.id }}" class="btn btn-xs btn-danger node-edit" onclick="DelAssets(this);">删除</button>
                                            <button type="button" id="{{ item.id }}" class="btn btn-xs btn-success" onclick="UpdateAssets(this);">更新</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <span id="msg-error" class="msg-error"></span>
                                <div class="col-sm-6">
                                    <div id="host_list">
                                        <button href="/assets/host_change/" type="button" class="btn btn-primary">批量修改</button>
                                    </div>
                                </div>
                                {% include 'pagination/cust_pagination.html' %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        function DelAssets(ths){
            //console.log(ths.id);
            $.ajax({
                url: '/assets/host_del/',
                type: 'POST',
                data: {'id': ths.id},
                success: function(data){
                    if(data==204){
                        $(ths).parent().parent().remove();
                    }else{
                        $('#msg-error').val("操作失败")
                    }
                }
            })
        }

        function UpdateAssets(ths){
            //console.log(ths.id);
            $.ajax({
                url: '/assets/host_update/',
                type: 'POST',
                data: {'id': ths.id},
                success: function(data){
                    if(data==201){
                        $('#msg-error').val("更新成功")
                    }else{
                        $('#msg-error').val("操作失败")
                    }
                }
            })
        }
    </script>
</body>
</html>
