{% extends 'base.html' %}
{% block content %}
<div class="content-tabs">
    <h3><strong>主机详情页</strong></h3>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins row">
                <div class="ibox-title">
                    <span class="text text-primary"><b>主机信息</b></span>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="text-left">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="text-navy">SN</td>
                                    <td>{{ network_obj.sn }}</td>
                                </tr>
                                <tr>
                                    <td class="text-navy">资产编号</td>
                                    <td>{{ network_obj.number }} </td>
                                </tr>
                                <tr>
                                    <td class="text-navy">快速服务代码</td>
                                    <td>{{ network_obj.qs }} </td>
                                </tr>
                                <tr>
                                    <td class="text-navy">IP</td>
                                    <td>{{ network_obj.ip }} </td>
                                </tr>
                                <tr>
                                    <td class="text-navy">IDC</td>
                                    <td>{{ network_obj.idc.name }}</td>
                                </tr>
                                <tr>
                                    <td class="text-navy">机柜信息</td>
                                    <td>{{ network_obj.cabinet }} | {{ network_obj.device_cabinet_id }} U</td>
                                </tr>
                                <tr>
                                    <td class="text-navy">制造厂商</td>
                                    <td>{{ network_obj.manufactory.name }}</td>
                                </tr>
                                <tr>
                                    <td class="text-navy">机器状态</td>
                                    <td class="">{% for i in status %}
                                        {% if network_obj.status == i.0 %}
                                            {% if network_obj.status == 0 %}
                                            <span class="btn-xs btn-success">{{ i.1 }}</span>
                                            {% else %}
                                            <span class="btn-xs btn-danger">{{ i.1 }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}</td>
                                </tr>
                                <tr>
                                    <td class="text-navy">购买日期</td>
                                    <td>{{ network_obj.buy_date |date:'Y-m-d' }}</td>
                                </tr>
                                <tr>
                                    <td class="text-navy">上联设备</td>
                                    <td>{{ network_obj.parent_device }}</td>
                                </tr>
                                <tr>
                                    <td class="text-navy">资产管理员</td>
                                    <td>{{ network_obj.admin }}</td>
                                </tr>
                                <tr>
                                    <td class="text-navy">备注</td>
                                    <td>{{ network_obj.memo }}</td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}