<li>
    <a href="{% url 'index' %}">
        <i class="fa fa-dashboard"></i>
        <span class="nav-label">仪表盘</span>
    </a>
</li>
<li>
    <a href="javascript:void(0)">
        <i class="fa fa-user"></i>
        <span class="nav-label">用户管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a href="{% url 'change_pwd' %}">修改密码</a>
        </li>
        {% if "user_menu" in request.session.perm_list %}
            <li>
                <a href="javascript:void(0)">用户中心<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    {% if "user_list" in request.session.perm_list %}
                        <li class="user_list">
                            <a href="{% url 'user_list' %}">用户列表</a>
                        </li>
                    {% endif %}
                    {% if "user_add" in request.session.perm_list %}
                        <li class="user_add">
                            <a href="{% url 'user_add' %}">添加用户</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if "role_menu" in request.session.perm_list %}
            <li>
                <a href="javascript:void(0)">角色管理<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    {% if "role_list" in request.session.perm_list %}
                        <li class="role_list">
                            <a href="{% url 'role_list' %}">角色列表</a>
                        </li>
                    {% endif %}
                    {% if "role_add" in request.session.perm_list %}
                        <li class="role_add">
                            <a href="{% url 'role_add' %}">添加角色</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if "permission_menu" in request.session.perm_list %}
            <li>
                <a href="javascript:void(0)">权限中心<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    {% if "permission_list" in request.session.perm_list %}
                        <li class="permission_list">
                            <a href="{% url 'permission_list' %}">权限列表</a>
                        </li>
                    {% endif %}
                    {% if "permission_add" in request.session.perm_list %}
                        <li class="permission_add">
                            <a href="{% url 'permission_add' %}">添加权限</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</li>
<li>
    <a href="javascript:void(0)">
        <i class="fa fa-th-large"></i>
        <span class="nav-label">项目管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        {% if "business_list" in request.session.perm_list %}
            <li>
                <a href="{% url 'business_list' %}">业务线列表</a>
            </li>
        {% endif %}
        {% if "business_add" in request.session.perm_list %}
            <li>
                <a href="{% url 'business_add' %}">添加业务线</a>
            </li>
        {% endif %}
        {% if "service_list" in request.session.perm_list %}
            <li>
                <a href="{% url 'service_list' %}">服务列表</a>
            </li>
        {% endif %}
        {% if "service_add" in request.session.perm_list %}
            <li>
                <a href="{% url 'service_add' %}">添加服务</a>
            </li>
        {% endif %}
    </ul>
</li>
<li>
    <a href="javascript:void(0)">
        <i class="fa fa-support"></i>
        <span class="nav-label">资产管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        {% if "host_menu" in request.session.perm_list %}
            <li>
                <a href="javascript:void(0)">服务器管理<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    {% if "host_list" in request.session.perm_list %}
                        <li class="host_list">
                            <a href="{% url 'host_list' %}">资产列表</a>
                        </li>
                    {% endif %}
                    {% if "host_add" in request.session.perm_list %}
                        <li class="host_add">
                            <a href="{% url 'host_add' %}">添加主机</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</li>
<li>
    <a href="javascript:void(0)">
        <i class="fa fa-line-chart"></i>
        <span class="nav-label">监控</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a href="{% url 'monitor-detail' %}">url监控</a>
        </li>
        <li>
            <a href="{% url 'zabbix' %}">zabbix</a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:void(0)">
        <i class="fa fa-tasks"></i>
        <span class="nav-label">自动化运维</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        {% if "code_menu" in request.session.perm_list %}
            <li>
                <a href="javascript:void(0)">代码发布<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    {% if "code_ops" in request.session.perm_list %}
                        <li>
                            <a href="{% url 'code_ops' %}">提交发布</a>
                        </li>
                    {% endif %}
                    {% if "code_log" in request.session.perm_list %}
                        <li>
                            <a href="{% url 'code_log' %}">发布列表</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if "sql_menu" in request.session.perm_list %}
            <li>
                <a href="javascript:void(0)">SQL管理<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                {% if "check_sql" in request.session.perm_list %}
                    <li>
                        <a href="{% url 'check_sql' %}">SQL语句检查</a>
                    </li>
                {% endif %}
                {% if "sql_log" in request.session.perm_list %}
                    <li>
                        <a href="{% url 'sql_log' %}">SQL记录</a>
                    </li>
                {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if "multi_cmd" in request.session.perm_list %}
            <li>
                <a href="{% url 'multi_cmd' %}">批量命令</a>
            </li>
        {% endif %}
    </ul>
</li>
<li class="jumpserver">
    <a href="javascript:void(0)">
        <i class="fa fa-ship"></i>
        <span class="nav-label">跳板机管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        {% if "show_message" in request.session.perm_list %}
            <li>
                <a href="{% url 'show_message' %}">show message</a>
            </li>
        {% endif %}
    </ul>
</li>
<li class="admin">
    {% if request.user.is_admin %}
        <a href="/admin/" target="_blank">
            <i class="fa fa-edit"></i>
            <span class="nav-label">后台管理</span>
        </a>
    {% endif %}
</li>