<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎使用易建科技运维平台 - 登录</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">
    <style>
        .msg-error{
            color: red;
        }
    </style>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">eK</h1>
            </div>
            <h3>欢迎使用易建科技运维平台</h3>

            <form class="m-t" role="form" action="" method="post">
                {% if rep.message.email %}
                    <div class="msg-error">{{ rep.message.email.0.message }}</div>
                {% endif %}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="邮箱" name="email">
                </div>
                {% if rep.message.password %}
                    <div class="msg-error">{{ rep.message.password.0.message }}</div>
                {% endif %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" name="password">
                </div>
{#                <img class="check-img" src="/accounts/check_code/" alt="验证码" onclick="ChangeCode(this);">#}
                <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>
                <p class="text-muted text-center">
                    <a href="{% url 'forget_pwd' %}"><small>忘记密码了？</small></a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>