{% extends 'base.html' %}

{% block content %}
    <div class="content-tabs">
        <h3><strong>修改业务线信息</strong></h3>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content row">
            <form class="form-horizontal" id="{{ business_obj.id }}" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-1 col-lg-1" for="name">业务线</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="name" name="name" type="text" value="{{ business_obj.name }}" readonly>
                    </div>
                </div>
                <div class="form-group" style="height: 250px;">
                    <label class="control-label col-sm-1" for="service">服务</label>
                    <div class="col-sm-4 col-lg-4">
                        <select class="form-control left_select" id="cservice" name="cservice"
                                multiple="multiple" style="height: 230px;">
                            {% for item in services %}
                                {% if item not in business_obj.service.all %}
                                    <option value={{ item.id }}>{{ item.name }}:{{ item.port }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <div style="margin: 40px 0 0 30px;">
                            <button class="fa fa-angle-right" id="left_mv" type="button"></button>
                        </div>
                        <div style="margin: 40px 0 0 30px;">
                            <button class="fa fa-angle-left" id="right-mv" type="button"></button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control right_select" id="service" name="service"
                                multiple="multiple" style="height: 230px;">
                            {% for item in business_obj.service.all %}
                                <option value={{ item.id }}>{{ item.name }}:{{ item.port }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-1" for="memo">备注</label>
                    <div class=" col-sm-10">
                        <textarea class="form-control" rows="5" id="memo" placeholder="选填" name="memo"
                                  type="text"></textarea>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-6">
                        <button class="btn btn-primary" type="button" id="submit_button">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            var id = $('.form-horizontal').attr('id');
            $.initPage('{{ json_data_list }}' + id + '/');
        });
    </script>
{% endblock %}
