{% extends 'base.html' %}


{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-11">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> 填写服务信息 </h5>
                </div>
            <div class="ibox-content">
                <form class="form-horizontal n-validator n-yellow" action="/common/service_add/" id="service_add" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="name">服务名</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="name"  name="name" type="text">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="port">端口</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="port"  name="port" type="text">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="host">主机</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="chost" name="chost" multiple="multiple" style="height: 230px;">
                                {% for item in hosts %}
                                    <option value={{ item.id }}>{{ item.hostname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <div style="margin: 40px 0 0 30px;">
                                <button class="fa fa-angle-right" type="button"></button>
                            </div>
                            <div style="margin: 40px 0 0 30px;">
                                <button class="fa fa-angle-left" type="button"></button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="host" name="host" multiple="multiple" style="height: 230px;">
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="memo">备注</label>
                        <div class=" col-sm-10">
                            <textarea class="form-control" id="memo" rows="5" name="memo" type="text"></textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-5">
                            <button class="btn btn-primary" type="button" id="submit_service_add"> 提交 </button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="/static/js/common/common.js"></script>
{% endblock %}
